//custom styling for the giveaway client. don't want to mess up existing client's css structure. will merge when it is time.

//variables
@sans: 'OpenSansLight', 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
@lightyellow: lighten(@yellow,40%);

//start giveaway styling
.giveaway{
	h1{
		border:0;
	}
	&.signup{
		h1{
			font-size:44px;
			padding-top: 25px;
			padding-bottom: 0;
			margin-bottom: 15px;
		}

		h2{
			font-size:26px;
		}
		h3{
			margin-top: 40px;
			font:22px 'OpenSansLight';
		}
		.btn{
			display:block;
			
			min-width:300px;
		}
		span{
			display:block;
			color: #666;
		}
		.step-one{
			text-align: center;
			.btn{
				margin: 25px auto 15px;	
			}
		}

		#signup-form{
			margin-left: 220px;
			max-width:400px;
			input{
				&[type="text"], &[type="email"]{
					width:90%;
				}
				&[type="checkbox"]{
					display:inline;
					margin-top: 0;
				}
			}
			.agree{
				display:inline;
				font-size: 14px;
				margin-left: 5px;
			}

			.btn{

				margin-top: 25px;
			}
		}
	}
}

header{
	nav{
		ul{
			> li{
				&#nav-getripple{
					a{
						
						background-image: url(../../img/ripple-giveaway-sprite.png);
						background-position: -12px top;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}

//get ripple tab
#t-getripple{
	h1{
		text-align: left;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 5px;
		span{
			font-size:16px;
			position: absolute;
			right:0;
			bottom:15px;
		}
	}
	h2{
		position: relative;
		font-size:26px;
		span{
			font-size:11px;
			position: absolute;
			right:0;
		}
	}

	ul{
		margin:0;
		padding:0;
		width:100%;
		li{
			width:22%;
			margin-right: 2.5%;
			display:block;
			float:left;
			border:1px solid #ddd;
			height:300px;
			.border-radius(5px);
			background-repeat: no-repeat;
			background-image: url(../../img/ripple-giveaway-sprite.png);
			background-position: -102px  30px;
			opacity:0.6;
			position: relative;
			&#wiki{
				background-position: -285px 30px;
			}
			&#video{
				background-position: -475px 30px;
			}
			&#list{
				background-position: -665px 30px;
			}
			&.done{
				background-position: -850px 30px;
				opacity:1;
				.text{
					color:#ddd;
					a{
						color:#ddd;
					}
				}
			}

			.text{
				width:100%;
				position: absolute;
				text-align: center;
				top:200px;
				font-family: @sans;
				a{
					display:block;
					font-size:22px;
				}
			}

			&:hover{
				cursor: pointer;
				opacity: 1;
				.transition-duration(2s);
			}
		}
	}
}

//overridding styles from the register tab
#t-register{
	.mode-welcome{
		h2{
			text-transform: uppercase;
			letter-spacing: 3px;
			margin-bottom: 0;
			margin:0 auto;
			padding:0 5px;
			width:300px;
			font-size: 22px;
			background-color: @yellow;
		}

		h1{
			padding-top: 15px;
		}
		text-align: center;
		.secret{
			margin:35px 0 75px 0;
			text-align: left;
			float:left;
			width:100%;
			padding:20px 5px;
			background-color: @lightyellow;
			border-color: darken(@lightyellow,20%);
			position: relative;

			.btn{
				position: absolute;
				top:6px;
				right:5px;
				min-width: 150px;
				&.btn-warning{
					border-color:@orange;
				}
			}
			.key{
				float:left;
				font-size:35px;
				display: block;
				font-family:@currencyFont;
				letter-spacing: -1px;
			}
		}


	}
}