//custom styling for the giveaway client. don't want to mess up existing client's css structure. will merge when it is time. 

.giveaway{
	h1{
		border:0;
	}
	&.signup{
		h1{
			font-size:44px;
			padding-top: 25px;
			padding-bottom: 0;
			margin-bottom: 15px;
		}

		h2{
			font-size:26px;
		}
		h3{
			margin-top: 40px;
			font:22px 'OpenSansLight';
		}
		.btn{
			display:block;
			
			min-width:300px;
		}
		span{
			display:block;
			color: #666;
		}
		.step-one{
			text-align: center;
			.btn{
				margin: 25px auto 15px;	
			}
		}

		#signup-form{
			margin-left: 220px;
			max-width:400px;
			input{
				&[type="text"], &[type="email"]{
					width:90%;
				}
				&[type="checkbox"]{
					display:inline;
					margin-top: 0;
				}
			}
			.agree{
				display:inline;
				font-size: 14px;
				margin-left: 5px;
			}

			.btn{

				margin-top: 25px;
			}
		}
	}
}

header{
	nav{
		ul{
			> li{
				&#nav-getripple{
					a{
						
						background-image: url(../../img/ripple-giveaway-sprite.png);
						background-position: -12px top;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}