section#t-getripple.single.content(ng-controller='GetRippleCtrl')
  div.padding
    h1 Earn 500 ripples (XRP)
      span currently 25 USD
    h2 by completing these actions!
      span rate timestamped 20:13 14 May 2013
    ul
      li#code.done 
        div.text
          |Follow us on
          a(href="https://github.com/rippleFoundation", target="_github") Github
      li#wiki
        div.text
          |Read our
          a(href="https://ripple.com/wiki", target="_wiki") wiki
      li#video
        div.text
          |watch our
          a(href="https://vimeo.com", target="_videos") videos
      li#list
        div.text
          |Look at our list of
          a(href="https://ripple.com/wiki", target="_build", ng-click="done()") things to build
  div(ng-show="finish")
    | You got 500 ripples