section#t-getripple.single.content(ng-controller='GetRippleCtrl')
  div.padding(ng-hide="claim")
    h1 Earn {{ payout }} ripples (XRP)
      span(ng-show="payout && usd_equivalent") currently {{usd_equivalent}} USD
    h2 by completing these actions!
      span(ng-show="payout && updated_time") exchange rate as of {{updated_time}}
    ul(class="walkthrough-list")
      li#code(ng-class="codeClass", ng-click="clickState('code')")
        a(href="https://github.com/rippleFoundation/", target="_code")
          div.text
            |Follow us on
            span.bigger Github
        li#wiki(ng-class="wikiClass", ng-click="clickState('wiki')")
          a(href="https://ripple.com/wiki", target="_wiki")
            div.text
              |Read our
              span.bigger wiki
      li#video(ng-class="videoClass", ng-click="clickState('video')")
        a(href="http://vimeo.com/user17625429/videos", target="_video")
          div.text
            |Watch our
            span.bigger videos
      li#list(ng-class="tutorialsClass", ng-click="clickState('tutorials')")
        a(href="https://ripple.com/wiki/Development_ideas", target="_tutorials")
          div.text
            |Think about our list of
            span.bigger things to build
  div(ng-show="finish && !claim", class="claim")
    p Great! Now get your XRP.
    a.btn.btn-info.btn-big(ng-click='congrats()') Get funded
  div#congrats(ng-show="claim")
    h1
      span(class="tick")
      |Congratulations! You have earned
    h2 {{ payout }} XRP
    p(class="rate-timestamp", ng-show="payout && usd_equivalent && updated_time")
        span(class="current-rate") currently {{usd_equivalent}} USD 
        span(class="timestamp") as of {{updated_time}}
    div#dev-callout
      h3 Ready to build a better tomorrow?
      ul
        li
          a(href="https://ripple.com/wiki/Ripple_Client", target="_blank") Build your own ripple client
        li
          a(href="https://ripple.com/wiki/Development_ideas", target="_blank") Build ripple libraries
        li
          a(href="https://ripple.com/wiki/Development_ideas", target="_blank") Build a Reddit, Twitter or Wordpress tip jar
        li
          a(href="https://ripple.com/wiki/Development_ideas", target="_blank")  Submit an idea
      p(class="bottom-links")
        a(href="http://ripple.com/jobs" , target="_blank")  work with us 
        &nbsp;|
        a(href="http://ripple.com/wiki" , target="_blank")  wiki 
        &nbsp;|
        a(href="https://github.com/rippleFoundation" , target="_blank")  github
