section#t-getripple.single.content(ng-controller='GetRippleCtrl')
  div.padding(ng-hide="claim")
    h1 Earn 500 ripples (XRP)
      span currently 25 USD
    h2 by completing these actions!
      span rate timestamped 20:13 14 May 2013
    ul(class="walkthrough-list")
      li#code(ng-class="codeClass", ng-click="codeClass='done'")
        a(href="https://github.com/rippleFoundation/", target="_github")
          div.text
            |Follow us on
            span.bigger Github
        li#wiki(ng-class="wikiClass", ng-click="wikiClass='done'")
          a(href="https://ripple.com/wiki", target="_wiki")
            div.text
              |Read our
              span.bigger wiki
      li#video(ng-class="videoClass", ng-click="videoClass='done'")
        a(href="http://vimeo.com/user17625429", target="_videos")
          div.text
            |watch our
            span.bigger videos
      li#list(ng-class="listClass", ng-click="listClass='done'")
        a(href="https://ripple.com/wiki", target="_build", ng-click="done()")
          div.text
            |Look at our list of
            span.bigger things to build
  div(ng-show="finish", class="claim")
    p Good job you can claim your XRP.
    a.btn.btn-info.btn-big(ng-click='congrats()') Claim
  div#congrats(ng-show="claim")
    h1 
      span(class="tick") 
      |Congratulations you have earned
    h2 500 XRP
    p(class="rate-timestamp")
        span(class="current-rate") currently 25USD 
        span(class="timestamp") rate timestamped 20:13 14 May 2013
    div#dev-callout
      h3 Ready to build a better tomorrow?
      ul
        li 
          a(href="https://ripple.com/wiki/Ripple_Client", target="_blank") Build your own ripple client
        li
          a(href="http://ripple.com/wiki", target="_blank") Build ripple libraries
        li 
          a(href="https://ripple.com/wiki/Gateway_Integration_Manual", target="_blank") Integrate with a gateway
        li 
          a(href="http://ripple.com/jobs", target="_blank")  submit an idea
      p(class="bottom-links")
        a(href="http://ripple.com/jobs" , target="_blank")  work with us 
        |
        a(href="http://ripple.com/wiki" , target="_blank")  wiki 
        |
        a(href="https://github.com/rippleFoundation" , target="_blank")  github 

