section#t-getripple.single.content(ng-controller='GetRippleCtrl')
  div.padding(ng-hide="claim")
    h1 Earn 500 ripples (XRP)
      span currently 25 USD
    h2 by completing these actions!
      span rate timestamped 20:13 14 May 2013
    ul
      li#code(ng-class="codeClass", ng-click="codeClass='done'")
        a(href="https://github.com/rippleFoundation/", target="_github")
          div.text
            |Follow us on
            span.bigger Github
        li#wiki(ng-class="wikiClass", ng-click="wikiClass='done'")
          a(href="https://ripple.com/wiki", target="_wiki")
            div.text
              |Read our
              span.bigger wiki
      li#video(ng-class="videoClass", ng-click="videoClass='done'")
        a(href="https://vimeo.com", target="_videos")
          div.text
            |watch our
            span.bigger videos
      li#list(ng-class="listClass", ng-click="listClass='done'")
        a(href="https://ripple.com/wiki", target="_build", ng-click="done()")
          div.text
            |Look at our list of
            span.bigger things to build
  div(ng-show="finish")
    p Good job you can claim your XRP.
    a.btn.btn-info.btn-big(ng-click='congrats()') Claim
  div(ng-show="claim")
    | Congratulations you have earned 500 XRP!!!
