section#t-getripple.single.content(ng-controller='GetRippleCtrl')
  div.padding
    h1 Earn 500 ripples (XRP)
      span currently 25 USD
    h2 by completing these actions!
      span rate timestamped 20:13 14 May 2013
    ul
      li 
        |Check out our 
        a source code
      li 
        |Read our 
        a wiki
      li 
        |watch a 
        a video
      li 
        |Read through our 
        a tutorials
