section.single.content.signup(ng-controller="SignupCtrl",class="giveaway")
  div.step-one(ng-show="step == 'one'")
    h1 Money is about to go opensouce
    h2 To get started, authenticate with github
    img(src="img/octocat.jpg", width="168px")
    input(type="button", class="btn btn-info", value="github", ng-click="oauth('github')")
    span (only accounts created prior to 30 Apr 2013 are eligible)
    h3 Be first. Build a better tomorrow.
  div.step-two(ng-show="step == 'two'")
    h1 Confirm your details
    form(id="signup-form", method="post")
      label(for="name") Name
      input(type="text",id="name", name="name", ng-model="name")
      br
      label(for="email") Email
      input(type="text", id="email", name="email", ng-model="email")
      br
      input(type="checkbox", ng-model="checked")
      label(class="agree") I agree to be part of this&nbsp;
        rp-confirm(
          action-text="Hello creators of the future!")
            a(href='#', ng-click="developerProgram") developer preview program
      input(type="button", class="btn btn-info", value="confirm", ng-click="step_two()", ng-disabled="!checked")
  div.step-three(ng-show="step == 'three'")
    include register
  div.step-login(ng-show="step == 'login'")
    include login